@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  /*min-width: 320px;*/
}
img {
  max-width: 100%;
  height: auto;
}
.visible-hidden {
  display: none;
}
.content-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .content-area {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .content-area {
    width: 1200px;
    -webkit-box-shadow: 0 0 10px 5px #e3e3e3;
            box-shadow: 0 0 10px 5px #e3e3e3;
  }
}
.page-header {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-logo {
  position: absolute;
  z-index: 10;
  bottom: calc(-29px);
  font-size: 0;
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 0;
  width: 102px;
  height: 84px;
}
@media (min-width: 768px) {
  .main-logo {
    position: absolute;
    font-size: 0;
    z-index: 10;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .main-logo {
    width: 187px;
    height: 97px;
  }
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #81b3d2;
}
.site-nav--hide {
  display: none;
}
.site-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}
.site-nav:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 7px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}
.site-nav__link {
  border: none;
  outline: none;
  padding: 19px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  font-weight: bold;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.site-nav__link:hover,
.site-nav__link:focus {
  background-color: #669ec0;
}
.site-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    background-color: #ffffff;
  }
  .site-nav--hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav:last-of-type::after {
    content: none;
  }
  .site-nav__item {
    width: 153.6px;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-nav__link {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 15px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-nav__link:hover,
  .site-nav__link:focus {
    background-color: transparent;
    color: #81b3d2;
  }
  .site-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .site-nav__current-page {
    color: #766357;
  }
  .site-nav__current-page:hover {
    color: #604e43;
  }
  .site-nav__current-page:active {
    color: rgba(118, 99, 87, 0.3);
  }
  .site-nav__item:nth-child(4n-2) {
    margin-right: 76.8px;
  }
  .site-nav__item:nth-child(4n-1) {
    margin-left: 76.8px;
  }
}
@media (min-width: 1200px) {
  .site-nav__item {
    width: 240px;
  }
  .site-nav__item:nth-child(4n-2) {
    margin-right: 120px;
  }
  .site-nav__item:nth-child(4n-1) {
    margin-left: 120px;
  }
}
.menu-btn {
  border: none;
  background-color: transparent;
  font-size: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 55px;
  margin-right: 15px;
  cursor: pointer;
}
.menu-btn--close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}
.menu-btn--close.menu-btn--no-js {
  display: none;
}
.menu-btn__picture {
  fill: #81b3d2;
}
.menu-btn__picture-close {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #81b3d2;
  background-image: url("../img/intro-triangle.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  background-size: auto, cover;
  min-height: 390px;
  min-width: 320px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .banner {
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}
.banner__description-image {
  margin-top: 90px;
  width: 282px;
  height: 214px;
}
.banner--mini {
  min-height: 160px;
}
.banner__title {
  font-size: 0;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-size: 230px 40px;
  background-position: center 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #81b3d2;
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, center bottom;
    height: 517px;
  }
  .banner--mini {
    height: 290px;
  }
  .banner__description-image {
    margin-top: 77px;
    width: 460px;
    height: 351px;
  }
  .banner__title {
    background-size: 480px 80px;
    background-position: center 95px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .banner {
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .banner {
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-desktop@1x.jpg");
    height: 517px;
  }
  .banner--mini {
    height: 300px;
  }
  .banner__title {
    background-position: center 100px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .banner {
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-desktop@2x.jpg");
  }
}
/* Main */
.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-main--form-padding {
  padding: 0;
}
@media (min-width: 768px) {
  .page-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .page-main--photo-padding {
    padding: 0 60px;
  }
  .page-main--form-padding {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .page-main--form-padding {
    padding: 0 120px;
  }
  .page-main--photo-padding {
    padding: 0;
  }
}
.introduce {
  min-width: 320px;
  padding: 40px 20px 6px 20px;
  text-align: center;
}
.introduce--photo-top {
  padding: 34px 20px 23px;
}
.introduce--photo-bottom {
  padding: 34px 40px 30px;
}
.introduce--form-top {
  padding: 34px 20px 13px;
}
.introduce__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
}
.introduce__text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}
.introduce__btn {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 768px) {
  .introduce {
    width: 100%;
    padding: 50px 130px;
  }
  .introduce--photo-top {
    padding: 75px 80px 70px;
  }
  .introduce--photo-bottom {
    padding: 65px 80px 75px;
  }
  .introduce--form-top {
    padding: 75px 50px 75px;
  }
  .introduce__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
  }
  .introduce__text {
    /*width: 495px;*/
    margin: 0 auto;
    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
  }
  .introduce__title--photo,
  .introduce__title--form {
    font-size: 30px;
    line-height: 26px;
  }
  .introduce__text--photo,
  .introduce__text--form {
    line-height: 24px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .introduce {
    padding: 50px 350px 50px;
  }
  .introduce--photo-top {
    padding: 113px 350px 70px;
    min-height: 288px;
  }
  .introduce--photo-bottom {
    padding: 70px 350px 70px;
    min-height: 246px;
  }
  .introduce--form-top {
    padding: 112px 200px 60px;
  }
}
.structur-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  /*width: 100%;*/
  text-align: center;
  /*outline: 1px dotted red;*/
}
.structur-block--blue {
  background-color: #81b3d2;
}
.structur-block--triangle {
  padding-top: 37px;
  background-image: url("../img/bg-triangle.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.structur-block--benefit {
  padding-top: 22px;
  padding-bottom: 22px;
}
.structur-block--grey {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .structur-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 255px;
    width: 100%;
    overflow: hidden;
  }
  .structur-block--triangle {
    padding-top: 0;
    background-image: none;
  }
  .structur-block--benefit {
    min-height: 332px;
  }
}
.inform {
  width: 280px;
  padding: 22px 0 22px 0;
}
.inform--blue {
  color: #ffffff;
  padding-top: 39px;
  padding-bottom: 26px;
  text-align: center;
}
.inform__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 9px;
}
.inform__text {
  margin: 0;
  margin-bottom: 15px;
}
.inform--benefit {
  padding-left: 50px;
  padding-top: 14px;
  padding-bottom: 0;
  text-align: left;
  width: 280px;
}
.inform__title--benefit {
  margin-bottom: 14px;
}
.inform__text--benefit {
  margin-bottom: 14px;
}
.inform--icon--house {
  background: url("../img/icon-house.svg") no-repeat;
  background-size: 38px 36px;
  background-position: 0 5px;
}
.inform--icon--gift {
  background: url("../img/icon-gift.svg") no-repeat;
  background-size: 37px 36px;
  background-position: 0 6px;
}
.inform--icon--food {
  background: url("../img/icon-burger.svg") no-repeat;
  background-size: 39px 36px;
  background-position: 0 8px;
}
.inform--grey {
  padding: 26px 15px 13px;
}
.inform--grey:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .inform {
    width: 256px;
    padding: 45px 45px 5px;
  }
  .inform--blue {
    padding-top: 45px;
  }
  .inform--benefit {
    padding-top: 138px;
    text-align: center;
  }
  .inform__title {
    font-size: 21px;
    padding: 0 3px;
    line-height: 26px;
    margin-bottom: 11px;
  }
  .inform__text {
    margin-bottom: 21px;
  }
  .inform__title--benefit {
    margin-bottom: 21px;
  }
  .inform--icon--house {
    background: url("../img/icon-house.svg") no-repeat;
    background-size: 74px 75px;
    background-position: center 40px;
  }
  .inform--icon--gift {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background: url("../img/icon-gift.svg") no-repeat;
    background-size: 73px 75px;
    background-position: center 40px;
  }
  .inform--icon--food {
    background: url("../img/icon-burger.svg") no-repeat;
    background-size: 75px 75px;
    background-position: center 40px;
  }
  .inform--grey:not(:last-of-type) {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .inform {
    width: 400px;
    padding: 50px 60px 5px;
  }
  .inform__title {
    padding: 0 65px;
  }
  .inform--benefit {
    padding-top: 138px;
  }
  .inform--grey {
    padding: 45px 55px 5px;
  }
}
.info-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 768px) {
  .info-picture {
    width: 66.6%;
    height: 255px;
    overflow: hidden;
  }
  .info-picture--reverse {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.search {
  min-width: 320px;
  padding: 25px 20px 50px 20px;
  text-align: center;
}
.search__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0 10px;
  font-size: 21px;
  line-height: 26px;
}
.search__text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}
.search__btn {
  margin-top: 32px;
  padding: 18px 0;
  font-size: 21px;
  line-height: 21px;
  width: 100%;
}
@media (min-width: 768px) {
  .search {
    width: 100%;
    padding: 56px 155px;
    min-height: 320px;
  }
  .search__title {
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 26px;
  }
  .search__text {
    width: 450px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
  }
  .search__btn {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .search {
    padding: 56px 372px;
    min-height: 330px;
  }
  .search__btn {
    margin-top: 45px;
  }
}
.btn {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn--text {
  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  color: #ffffff;
  font-weight: bold;
}
.btn--text:hover,
.btn--text:focus {
  background-color: #669ec0;
}
.btn--text:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.btn--text:disabled {
  background-color: #e5e5e5;
}
.btn--img {
  padding: 0;
  background-color: transparent;
  font-size: 0;
}
.map {
  position: relative;
  width: 100%;
  min-height: 350px;
  background-color: #f3f1ed;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}
.map--no-js::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.page-footer__social-buttons {
  margin-top: 35px;
}
.page-footer__copyright {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 35px 60px;
  }
  .page-footer--padding {
    padding: 36px 60px;
  }
  .page-footer__social-buttons,
  .page-footer__copyright {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
    min-height: 100px;
  }
}
.hashtag-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}
.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  background-color: #81b3d2;
  font-size: 0;
  width: 46px;
  height: 48px;
}
.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.social-btn:disabled {
  background-color: #e5e5e5;
}
.social-btn svg {
  fill: #ffffff;
}
.social-btn:active svg {
  fill: rgba(255, 255, 255, 0.3);
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__link {
  border: none;
  outline: none;
  margin-left: 12px;
  font-size: 0;
  line-height: 0;
}
.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}
.copyright__link:active svg {
  fill: #b2b2b2;
}
/*страница photo*/
.photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 22px 20px 10px;
  min-height: 415px;
  border-top: 1px solid #d6d6d6;
}
.photo-block:last-of-type {
  border-bottom: 1px solid #d6d6d6;
}
.photo-block__picture {
  font-size: 0;
  line-height: 0;
}
.photo-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 18px;
}
.photo-block__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
.photo-block__author {
  margin: 0;
  margin-bottom: 10px;
  text-transform: none;
  color: #333333;
}
.photo-block__like-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.photo-block__btn-like {
  fill: #b2b2b2;
  padding: 0;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
}
.photo-block__count-like {
  line-height: 14px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .photo-block {
    width: 50%;
    padding: 0;
    min-height: 347px;
    border: none;
  }
  .photo-block:last-of-type {
    border-bottom: none;
  }
  .photo-block:first-of-type {
    width: 100%;
  }
  .photo-block:nth-child(2n) .photo-block__description {
    background-color: #f2f2f2;
  }
  .photo-block:nth-child(2n+1) .photo-block__description {
    background-color: #eaeaea;
  }
  .photo-block:first-of-type .photo-block__description {
    background-color: #f2f2f2;
  }
  .photo-block__description {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    min-height: 80px;
    padding: 16px 20px 0;
  }
  .photo-block__title {
    font-size: 14px;
    line-height: 24px;
  }
  .photo-block__author {
    font-size: 14px;
    line-height: 24px;
  }
  .photo-block__like-wrap {
    width: 65px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .photo-block {
    position: relative;
    width: 33.3%;
    min-height: 267px;
  }
  .photo-block__description {
    position: absolute;
    bottom: 0;
  }
  .photo-block:nth-child(2n) .photo-block__description {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo-block:nth-child(2n+1) .photo-block__description {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo-block:first-of-type {
    width: 100%;
  }
  .photo-block__title,
  .photo-block__author,
  .photo-block__count-like {
    color: #ffffff;
  }
  .photo-block__btn-like {
    fill: #ffffff;
  }
}
.video-pleer {
  margin-bottom: 38px;
}
.video-pleer__wrap {
  position: relative;
  height: 201px;
}
.video-pleer__image {
  width: 100%;
  height: 201px;
}
.video-pleer__range {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  height: 45px;
}
.video-pleer__range::before {
  content: "";
  display: block;
  width: 240px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 21px auto;
  z-index: 10;
}
.video-pleer__range::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: -28px 50px;
  background: url("../img/volume-slider.png") no-repeat;
  z-index: 15;
  cursor: pointer;
}
.video-pleer__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 20px;
  margin: 0 auto;
  width: 280px;
  background-color: #f2f2f2;
}
.video-pleer__replay {
  width: 16px;
  height: 20px;
  margin-left: 5px;
}
.video-pleer__subtit {
  width: 32px;
  height: 20px;
  margin-left: auto;
  margin-right: 30px;
}
.video-pleer__fullscr {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.video-pleer__replay,
.video-pleer__subtit,
.video-pleer__fullscr {
  fill: #5c6870;
}
.video-pleer__replay:hover,
.video-pleer__subtit:hover,
.video-pleer__fullscr:hover {
  fill: #333333;
}
.video-pleer__replay:focus,
.video-pleer__subtit:focus,
.video-pleer__fullscr:focus {
  fill: #333333;
}
.video-pleer__replay:active,
.video-pleer__subtit:active,
.video-pleer__fullscr:active {
  fill: #b8b8b8;
}
@media (min-width: 768px) {
  .video-pleer {
    width: 100%;
    position: relative;
  }
  .video-pleer__wrap {
    min-height: 500px;
  }
  .video-pleer__range {
    width: 100%;
    height: 93px;
  }
  .video-pleer__range::before {
    margin: 45px 95px;
    width: 390px;
  }
  .video-pleer__range::after {
    margin: -52px 210px;
  }
  .video-pleer__control {
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding-left: 10px;
    background-color: transparent;
  }
  .video-pleer__replay {
    padding: 0;
    width: 16px;
    height: 20px;
    margin-left: 25px;
  }
  .video-pleer__subtit {
    padding: 0;
    width: 32px;
    height: 20px;
    margin-left: auto;
    margin-right: 30px;
  }
  .video-pleer__fullscr {
    padding: 0;
    width: 20px;
    height: 20px;
    margin-right: 25px;
  }
  .video-pleer__replay,
  .video-pleer__subtit,
  .video-pleer__fullscr {
    fill: #ffffff;
  }
  .video-pleer__replay:hover,
  .video-pleer__subtit:hover,
  .video-pleer__fullscr:hover {
    fill: #c2c2c2;
  }
  .video-pleer__replay:focus,
  .video-pleer__subtit:focus,
  .video-pleer__fullscr:focus {
    fill: #c2c2c2;
  }
  .video-pleer__replay:active,
  .video-pleer__subtit:active,
  .video-pleer__fullscr:active {
    fill: #949494;
  }
}
@media (min-width: 1200px) {
  .video-pleer {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .video-pleer__range::before {
    width: 545px;
  }
}
/*Стилизация страницы form*/
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}
.feedback__item {
  border: none;
  padding: 0;
  margin: 0;
}
.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feedback__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.feedback__title {
  border-top: 1px solid #e5e5e5;
  padding-top: 17px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.feedback__input {
  border: none;
  outline: none;
  width: 100%;
  height: 58px;
  padding-left: 20px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
}
.feedback__input:hover {
  background-color: #e5e5e5;
}
.feedback__input:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 4px #e5e5e5;
          box-shadow: inset 0 0 0 4px #e5e5e5;
}
.feedback__label {
  font-size: 14px;
  line-height: 26px;
}
.feedback__item--fio {
  padding-bottom: 6px;
}
.feedback__label--fio {
  margin-right: 15px;
}
.feedback__input--fio {
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.feedback__item--contacts {
  padding-bottom: 15px;
}
.feedback__label--contacts {
  margin-left: 20px;
  margin-bottom: 5px;
}
.feedback__list-item--contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}
.feedback__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  -webkit-box-shadow: inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
  background-position: right 20px center;
}
.feedback__input--phone:focus {
  -webkit-box-shadow: inset 0 0 0 4px #e5e5e5, inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 4px #e5e5e5, inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
}
.feedback__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-box-shadow: inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
}
.feedback__input--email:focus {
  -webkit-box-shadow: inset 0 0 0 4px #e5e5e5, inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 4px #e5e5e5, inset -58px 0 0 0 rgba(0, 0, 0, 0.05);
}
/*Радио*/
.feedback__item--impression {
  padding-bottom: 15px;
}
.feedback__radio {
  position: absolute;
  opacity: 0;
}
.feedback__label--impression {
  position: relative;
  margin-top: 17px;
  margin-bottom: 7px;
  margin-left: 80px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;
}
.feedback__label--impression::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -80px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.feedback__radio:checked + .feedback__label--impression::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(-63px);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #000000;
}
.feedback__radio:hover + .feedback__label--impression::before,
.feedback__radio:focus + .feedback__label--impression::before {
  background-color: #e5e5e5;
}
.feedback__radio:active + .feedback__label--impression::before {
  background-color: #d5d5d5;
}
.feedback__radio:active + .feedback__label--impression::after {
  background-color: #a4a4a4;
}
/*Чекбокс*/
/*Как скрыть checkbox чтобы он остался доступным при обходе по tab*/
.feedback__check {
  /*visibility: hidden;*/
  position: absolute;
  opacity: 0;
}
.feedback__label--sigths {
  position: relative;
  margin-top: 11px;
  margin-bottom: 23px;
  margin-left: 80px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;
}
/*Способ выравнивания относительно лейбла?*/
.feedback__label--sigths::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -80px;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.feedback__check:checked + .feedback__label--sigths::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(-63px);
  width: 24px;
  height: 17px;
}
.feedback__check:hover + .feedback__label--sigths::before,
.feedback__check:focus + .feedback__label--sigths::before {
  background-color: #e5e5e5;
}
.feedback__check:active + .feedback__label--sigths::before {
  background-color: #d5d5d5;
}
.feedback__textarea {
  outline: none;
  width: 100%;
  min-height: 160px;
  background-color: #f2f2f2;
  border: none;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 44px;
}
.feedback__textarea:hover {
  background-color: #e5e5e5;
}
.feedback__textarea:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 4px #e5e5e5;
          box-shadow: inset 0 0 0 4px #e5e5e5;
}
.feedback__btn {
  margin-bottom: 35px;
  padding: 16px 0;
  font-size: 21px;
  line-height: 26px;
}
.feedback__comment {
  display: none;
}
@media (min-width: 768px) {
  .feedback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .feedback__title {
    padding: 0;
    width: auto;
    margin-bottom: 55px;
    border-top: none;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
  }
  .feedback__title--center {
    text-align: center;
    margin-bottom: 25px;
  }
  .feedback__item--fio {
    width: 265px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feedback__item--contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 15px;
  }
  .feedback__list-item--contacts {
    margin-bottom: 25px;
  }
  .feedback__item--impression {
    width: 380px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 38px;
  }
  .feedback__list-item--impression {
    margin-bottom: 27px;
  }
  .feedback__item--sights {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 50px;
  }
  .feedback__item--sights .feedback__title,
  .feedback__item--contacts .feedback__title,
  .feedback__item--emotions .feedback__title {
    width: 400px;
  }
  .feedback__item--sights .feedback__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feedback__item--sights .feedback__list-item {
    width: 50%;
  }
  .feedback__item--sights .feedback__list-item:nth-child(2n) {
    padding-left: 30px;
  }
  .feedback__item--sights .feedback__list-item:nth-child(2n-1) {
    padding-left: 90px;
  }
  .feedback__label--sigths {
    margin-top: 30px;
    margin-bottom: 13px;
  }
  .feedback__item--emotions {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
    border-top: 1px solid #dbdbdb;
  }
  .feedback__textarea {
    margin-top: 33px;
    margin-bottom: 52px;
  }
  .feedback__btn {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    width: 50%;
    margin-bottom: 60px;
  }
  .feedback__comment {
    display: block;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .feedback__item--impression {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-right: 1px solid #dbdbdb;
  }
  .feedback__item--impression .feedback__title {
    padding-left: 80px;
  }
  .feedback__item--fio {
    width: 50%;
    padding-left: 80px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feedback__label--fio {
    margin-right: 15px;
  }
  .feedback__item--contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-bottom: 12px;
    border-top: 1px solid #dbdbdb;
  }
  .feedback__item--contacts .feedback__title {
    margin-bottom: 75px;
  }
  .feedback__item--contacts .feedback__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback__list-item--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .feedback__label--contacts {
    margin: 0;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .feedback__input--phone {
    -ms-flex-preferred-size: 315px;
        flex-basis: 315px;
    margin-right: 50px;
  }
  .feedback__input--email {
    -ms-flex-preferred-size: 315px;
        flex-basis: 315px;
  }
  .feedback__item--sights {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    border-top: 1px solid #dbdbdb;
  }
  .feedback__item--sights .feedback__title {
    width: 400px;
  }
  .feedback__item--sights .feedback__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feedback__item--sights .feedback__list-item:nth-child(2n) {
    padding-left: 0;
  }
  .feedback__item--sights .feedback__list-item:nth-child(2n-1) {
    padding-left: 0;
  }
  .feedback__item--sights .feedback__list-item {
    width: auto;
  }
  .feedback__btn {
    margin-bottom: 65px;
  }
}
.alert {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  width: 320px;
  padding-top: 45px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.alert--failure {
  min-height: 280px;
}
.alert--success {
  min-height: 320px;
}
.alert__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 50px;
}
.alert__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 50px;
}
.alert__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  min-height: 98px;
  margin-top: auto;
}
.alert__failure-btn {
  width: 180px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 18px;
}
.alert__success-btn {
  width: 280px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 18px;
}
.alert--hidden {
  display: none;
}
@media (min-width: 768px) {
  .alert--failure {
    width: 400px;
    min-height: 348px;
  }
  .alert--success {
    width: 640px;
    min-height: 395px;
    padding-top: 80px;
  }
  .alert__title {
    padding: 0 90px;
    font-size: 30px;
    line-height: 40px;
  }
  .alert__text {
    padding: 0 58px;
  }
  .alert__wrap {
    min-height: 145px;
  }
  .alert__failure-btn {
    width: 260px;
  }
  .alert__success-btn {
    width: 460px;
  }
}
